{% extends "layout.html" %}
{% block body %}
	{% if session.logged_in %}
		<h2><a href="{{ url_for('sex_query') }}"> Survival rate by sex as a percentage of sex</a></h2>
        <h2><a href="{{ url_for('class_query') }}"> Survival rate by class as a percentage of class</a></h2>
        <h2><a href="{{ url_for('age_query') }}"> Survival rate by age as a percentage of age</a></h2>
        <h2><a href="{{ url_for('jack_query') }}"> Survival rate by name (Jack) as a percentage of name</a></h2>
        <h2><a href="{{ url_for('rose_query') }}"> Survival rate by name (Rose) as a percentage of name</a></h2>             
    {% endif %}
    
	<ul class="entries">
    <li><h1>Query</h1></li>
	{% for entry in entries %}        
		<li><h2> {{ entry.Embarked }}</h2><h2>{{ entry.Sex }}</h2><h2>{{ entry.Surived }}</h2><h2>{{ entry.Number_Siblings_and_spouses }}</h2><h2>{{ entry.ID }}</h2><h2>{{ entry.Class }}</h2><h2>{{ entry.Cabin }}</h2><h2>{{ entry.Fare }}</h2><h2>{{ entry.Name }}</h2><h2>{{ entry.Age }}</h2><h2>{{ entry.Number_Parents_and_children }}</h2><h2>{{ entry.Ticket_number }}</h2>{{ entry.Survival_Rate_Percentage }}</li>
	{% else %}
		<li><em>Unbelievable. No entries here so far</em></li>
	{% endfor %}
	</ul>
{% endblock %}